@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Quicksand:wght@300..700&display=swap');

/** 
    Layout
**/
html, body {
    height: 100%;
    margin: 0;
    background-color: #A3B18A;
}

#root{
    padding: 30px 0;
    align-items: center;
}
.form-container{
    flex-wrap: nowrap;
}
#root,
.form-container,
.data-container,
form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.form-container{
    min-width: 400px;
}
.main-info,
.education-area li,
.job-area li{
    display:flex;
    flex-direction: column;
    align-items: center;
}
ul{
    padding: 0;
}
div>label,
div>input{
    display: block;
}

/**
    Actual style
**/
h1{
    padding: 25px;
    font-size: 2em;
    font-family: "Playwrite AU SA", serif;
    background-color: #344E41;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-optical-sizing: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h2{
    font-family: "Playwrite AU SA", serif;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: .5em 0;
    text-align: center;
}
form,
.data-container{
    border: 2px solid #344E41;
    border-top: none;
    background-color: #DAD7CD;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
form input{
    width: 100%;
    font-size: 1.15em;
    padding: 5px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px
}
label{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.25em;
    margin-bottom: 5px;
    color: #344E41;
}
.main-info{
    margin: 0 30px;
}
.main-info div,
.education-area div,
.job-area div{
    width: 100%;
    margin: 5px 0;
    padding: 0 15px;
}
.education-area li,
.job-area li{
    margin: 0 15px;
    padding: 0 15px 5px 15px;
    background: #A3B18A;
    border-top: 1px solid #344E41;
}
.education-area label,
.job-area label{
    color: #000;
}
.education-area li:first-child,
.job-area li:first-child{
    border-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.education-area li:last-child,
.job-area li:last-child{
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

i{
    cursor: pointer;
}

.cv-button{
    display: block;
    background: #1b4332;
    border-radius: 12px;
    border: none;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    outline-offset: 4px;
}
.cv-button span{
    display: block;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 1.15rem;
    background: #2d6a4f;
    color: white;
    transform: translateY(-3px);
}
.cv-button span:hover{
    background: #3b8d68;
}
.cv-button:active span{
    transform: translateY(-2px);
}

.submit-button{
    background: #005177;
}
.submit-button span{
    background: #0095da;
    padding: 12px 50px;
    font-size: 2.5rem;
}
.submit-button span:hover{
    background: #006b9c;
}


/**
    Editing Area
**/

.data-container div{
    display: flex;
    align-items: center;
}
.data-container i{
    font-size: 1.1em;
    margin-left: 5px;
    padding: 5px 4px 4px 6px;
    border-radius: 6px;
}
.data-container i.fa-check{
    background-color: #058c42;
    color: #fff;
}
.data-container h3{
    display: block;
    font-family: "Playwrite AU SA", serif;
    font-size: 1.1em;
    line-height: 1.1em;
    margin: .5em 0;
}
.data-container>ul{
    padding: 10px 15px;
}
.data-container input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 3px;
    border: 1px solid #A3B18A;
    background: #fff;
}
.data-container input:disabled{
    background-color: #DAD7CD;
    color: #000;
    padding: 5px 3px;
    box-sizing: border-box;
}
.data-container li>div{
    margin-top: 3px;
    margin-bottom: 3px;
}
.data-container ul li li{
    margin-bottom: 15px;
}